<footer id="footer">
    <div class="footer-top">
        <div class="container">
            <div class="row">
                <section class="col-lg-3 col-md-3 col-xs-12 col-sm-3 footer-one">
                    <h3>{:lang('about us')}</h3>
                    <p>{$site_seo_description}</p>
                </section>
                <section class="col-lg-3 col-md-3 col-xs-12 col-sm-3 footer-two">
                    <h3>{:lang('link')}</h3>
                    <ul id="tweets">
                        {php}$links=get_links($link_footer);{/php}
                        {foreach name="links" item="vo"}
                            <li><a href="{$vo.plug_link_url}" target="{$vo.plug_link_target}">{$vo.plug_link_name}</a></li>
                        {/foreach}
                    </ul>
                </section>
                <section class="col-lg-3 col-md-3 col-xs-12 col-sm-3 footer-three">
                    <h3>{:lang('contact us')}</h3>
                    <ul class="contact-us">
                        <li>
                            <i class="fa fa-map-marker"></i>
                            <p>
                                <strong>{:lang('address')}:</strong>{$site_address}
                            </p>
                        </li>
                        <li>
                            <i class="fa fa-phone"></i>
                            <p><strong>{:lang('phone')}:</strong> {$site_tel}</p>
                        </li>
                        <li>
                            <i class="fa fa-envelope"></i>
                            <p><strong>{:lang('email')}:</strong><a href="mailto:{$site_admin_email}">{$site_admin_email}</a></p>
                        </li>
                        <li>
                            <i class="fa fa-qq"></i>
                            <p><strong>Q  Q:</strong><a target="_blank" href="http://wpa.qq.com/msgrd?v=3&amp;uin={$site_qq}&amp;site=qq&amp;menu=yes">{$site_qq}</a></p>
                        </li>
                    </ul>
                </section>
                <section class="col-lg-3 col-md-3 col-xs-12 col-sm-3 footer-four">
                    <h3>{:lang('scan QR code')}</h3>
					{if condition="!empty($site_qr)"}
                    <img src="#" alt="{:lang('scan')}" style="width:120px;">
					{else /}
					<img src="{$yf_theme_path}public/images/qbar.png" alt="{:lang('scan')}" style="width:120px;">
					{/if}
                    <a href="#"></a>
                </section>
            </div>
        </div>
    </div>
    <div class="footer-bottom">
        <div class="container">
            <div class="row">
                <div class="text-center">{$site_copyright} | {$site_icp}</div>
            </div>
        </div>
    </div>
</footer>
<a href="#" class="scrollup"><i class="fa fa-angle-up"></i></a>
{$site_tongji}
