{include file="public:function"/}
{include file="public:config"/}
<meta name="author" content="YFCMF">
<meta charset="utf-8">
<meta http-equiv="X-UA-Compatible" content="IE=edge">
<meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no">
<meta name="renderer" content="webkit">
<meta http-equiv="Cache-Control" content="no-siteapp"/>

<link rel="stylesheet" href="{$yf_theme_path}public/css/bootstrap.css">
<!-- <link rel="stylesheet" href="{$yf_theme_path}public/css/fonts/font-awesome/css/font-awesome.css"> -->
<link rel="stylesheet" href="{$yf_theme_path}public/css/fonts/font-awesome/css/font-awesome.min.css">
<link rel="stylesheet" href="{$yf_theme_path}public/css/animations.css" media="screen">
<link rel="stylesheet" href="{$yf_theme_path}public/css/superfish.css" media="screen">
<link rel="stylesheet" href="{$yf_theme_path}public/css/revolution-slider/css/settings.css" media="screen">
<link rel="stylesheet" href="{$yf_theme_path}public/css/prettyPhoto.css" media="screen">

<link rel="stylesheet" href="{$yf_theme_path}public/css/style.css">

<link rel="stylesheet" href="{$yf_theme_path}public/css/colors/blue.css" id="colors">

<link rel="stylesheet" href="{$yf_theme_path}public/css/theme-responsive.css">

<link href="{$yf_theme_path}public/css/spectrum.css" rel="stylesheet">

<link rel="shortcut icon" href="{$yf_theme_path}public/images/favicon.ico">

<!--[if lt IE 9]>
<script src="__PUBLIC__/others/html5shiv.min.js"></script>
<script src="__PUBLIC__/others/respond.min.js"></script>
<![endif]-->
<!--[if IE 7]>
<link rel="stylesheet" href="{$yf_theme_path}public/css/fonts/font-awesome/css/font-awesome-ie7.min.css">
<![endif]-->