<div class="widget category">
	<ul class="category-list slide">
        <a class="list-group-item" href="{:url('home/Center/index')}"> {:lang('center')}</a>
		<a class="list-group-item" href="{:url('home/Center/edit')}"> {:lang('modify information')}</a>
		<a class="list-group-item" href="{:url('home/Center/password')}"> {:lang('modify pwd')}</a>
		<a class="list-group-item" href="{:url('home/Center/bang')}"> {:lang('bind account')}</a>
		<a class="list-group-item" href="{:url('home/Center/fav')}"> {:lang('my favorites')}</a>
		<a class="list-group-item" href="{:url('home/Comment/index')}"> {:lang('my comments')}</a>
	</ul>
</div>