{volist name="lists['news']" id="vo"}
	<article class="post hentry">
		{if condition="$vo['news_img']"}
			<div class="post-image">
				<a href="{$vo['news_img']|get_imgurl}" data-rel="prettyPhoto">
					<span class="img-hover"></span>
					<span class="fullscreen"><i class="fa fa-search"></i></span>
					<img src="{$vo['news_img']|get_imgurl}">
				</a>
			</div>
		{else /}
			{php}$img_no=rand(1,8);{/php}
			<div class="post-image">
				<a href="{$yf_theme_path}public/images/default_tupian{$img_no}.jpg" data-rel="prettyPhoto">
					<span class="img-hover"></span>
					<span class="fullscreen"><i class="fa fa-search"></i></span>
					<img src="{$yf_theme_path}public/images/default_tupian{$img_no}.jpg"/>
				</a>
			</div>
		{/if}
		<div class="post-content-wrap">
			<header class="post-header">
				<div class="post-date">
					<a class="date" href="#"><strong>{$vo.news_time|date="d",###}</strong><i>{$vo.news_time|date="M",###}</i></a>
				</div>
				<h3 class="content-title"><a href="{:url('home/News/index',array('id'=>$vo['n_id']))}">{$vo.news_title}</a></h3>
				<div class="blog-entry-meta">
					<div class="blog-entry-meta-author">
						<i class="fa fa-user"></i>
						<a href="{:url('home/Index/visit',array('id'=>$vo['news_auto']))}" class="blog-entry-meta-author">{$vo.member_list_nickname|default=$vo.member_list_username}</a>
					</div>
					<div class="blog-entry-meta-comments">
						<a href="{:url('home/News/index',array('id'=>$vo['n_id']))}#comments"><i class="fa fa-comment"></i></a>{$vo.comment_count}
					</div>
					<div class="blog-entry-meta-comments">
						<i class="fa fa-eye"></i>
						{$vo.news_hits}
					</div>
					<div class="blog-entry-meta-comments">
						<a href="{:url('home/News/dolike',array('id'=>$vo['n_id']))}" class="js-count-btn"><i class="fa fa-thumbs-up"> </i></a><span class="count">{$vo.news_like}</span>
					</div>
					<div class="blog-entry-meta-tags">
					</div>
				</div>
			</header>
			<div class="post-content">
				<p>{$vo.news_content|html_trim=100}</p>
				<a href="{:url('home/News/index',array('id'=>$vo['n_id']))}">{:lang('see')} <i class="fa fa-angle-right"></i><i class="fa fa-angle-right"></i></a>
			</div>
		</div>
		<div class="clearfix"></div>
	</article>
	<div class="blog-divider"></div>
{/volist}
<div class="pagination-centered">
	{$page_html}
</div>