.grid-item {
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 0 0.25rem;
  .icon {
    width: 1.3rem;
    height: 1.3rem;
    //background: linear-gradient(#4de685,#0cd257);
    //box-shadow: 0.06rem 0.06rem 0.5rem 0.01rem rgba(0,206,70,50%);
    border-radius: 50%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    .icon-img{
      width: 0.7rem;
      height: 0.7rem;
    }
  }
  .icon-title {
    margin-top: 0.24rem;
    span {
      display: block;
    }
    .title {
      font-size: 0.36rem;
    }
    .sub-title {
      margin-top: 0.1rem;
      font-size: 0.25rem;
      color: #888;
    }
  }
}