{foreach name="admin_rule" item="v"}
	<tr id="{$pid}-{$v.id}">
		<td height="28">{$v.id}</td>
		<td><a data-id="{$v.id}" data-level="{$v.level}" href="{:url('admin/Sys/admin_rule_list',['pid'=>$v.id])}" style="cursor:pointer;" class="rule-list"><span class="fa {if condition='$v.level egt 4'}fa-minus{else /}fa-plus{/if} blue"></span></a></td>
		<td class="hidden-xs" style='padding-left:{if condition="$v.leftpin neq 0"}{$v.leftpin}px{/if}' >{$v.lefthtml}{$v.title}</td>
		<td>{$v.name}</td>
		<td>
			{if condition="$v['notcheck'] eq 1"}
			<a class="red notcheck-btn" href="{:url('admin/Sys/admin_rule_notcheck')}" data-id="{$v.id}" title="不检测">
				<div id="zt{$v.id}"><button class="btn btn-minier btn-danger">不检测</button></div>
			</a>
			{else/}
			<a class="red notcheck-btn" href="{:url('admin/Sys/admin_rule_notcheck')}" data-id="{$v.id}" title="检测">
				<div id="zt{$v.id}"><button class="btn btn-minier btn-yellow">检测</button></div>
			</a>
			{/if}
		</td>
		<td>
			{if condition="$v['status'] eq 1"}
				<a class="red display-btn" href="{:url('admin/Sys/admin_rule_state')}" data-id="{$v.id}" title="已显示">
					<div id="zt{$v.id}"><button class="btn btn-minier btn-yellow">显示</button></div>
				</a>
				{else/}
				<a class="red display-btn" href="{:url('admin/Sys/admin_rule_state')}" data-id="{$v.id}" title="已隐藏">
					<div id="zt{$v.id}"><button class="btn btn-minier btn-danger">隐藏</button></div>
				</a>
			{/if}
		</td>
		<td class="hidden-sm hidden-xs">{$v.level}级</td>
		<td class="hidden-sm hidden-xs">{$v.addtime|date='Y-m-d',###}</td>
		<td class="hidden-sm hidden-xs"><input name="{$v.id}" value="{$v.sort}" class="list_order center"/></td>
		<td>
			<div class="hidden-sm hidden-xs action-buttons">
				<a class="blue" href="{:url('admin/Sys/admin_rule_add',array('pid'=>$v['id']))}"  title="添加子类">
					<i class="ace-icon fa fa-plus-circle bigger-130"></i>
				</a>
				<a class="green" href="{:url('admin/Sys/admin_rule_edit',array('id'=>$v['id']))}" title="修改">
					<i class="ace-icon fa fa-pencil bigger-130"></i>
				</a>
				<a class="green" href="{:url('admin/Sys/admin_rule_copy',array('id'=>$v['id']))}" title="复制">
					<i class="ace-icon fa fa-exchange bigger-130"></i>
				</a>
				<a class="red confirm-rst-url-btn" href="{:url('admin/Sys/admin_rule_del',array('id'=>$v['id']))}" data-info="你确定要删除吗？" title="删除">
					<i class="ace-icon fa fa-trash-o bigger-130"></i>							</a>
			</div>
			<div class="hidden-md hidden-lg">
				<div class="inline position-relative">
					<button class="btn btn-minier btn-primary dropdown-toggle" data-toggle="dropdown" data-position="auto">
						<i class="ace-icon fa fa-cog icon-only bigger-110"></i>
					</button>
					<ul class="dropdown-menu dropdown-only-icon dropdown-yellow dropdown-menu-right dropdown-caret dropdown-close">
						<li>	
							<a href="{:url('admin/Sys/admin_rule_add',array('pid'=>$v['id']))}"  class="tooltip-success" data-rel="tooltip" title="" data-original-title="添加子类">
										<span class="green">
											<i class="ace-icon fa fa-plus-circle bigger-120"></i>
										</span>
							</a>						
						</li>
						<li>
							<a href="{:url('admin/Sys/admin_rule_edit',array('id'=>$v['id']))}" class="tooltip-success" data-rel="tooltip" title="" data-original-title="修改">
											<span class="green">
												<i class="ace-icon fa fa-pencil-square-o bigger-120"></i>
											</span>
							</a>
						</li>
						<li>
							<a href="{:url('admin/Sys/admin_rule_copy',array('id'=>$v['id']))}" class="tooltip-success" data-rel="tooltip" title="" data-original-title="复制">
											<span class="green">
												<i class="ace-icon fa fa-exchange bigger-120"></i>
											</span>
							</a>
						</li>
						<li>
							<a href="{:url('admin/Sys/admin_rule_del',array('id'=>$v['id']))}"  data-info="你确定要删除吗？" class="tooltip-error confirm-rst-url-btn" data-rel="tooltip" title="" data-original-title="删除">
											<span class="red">
												<i class="ace-icon fa fa-trash-o bigger-120"></i>
											</span>
							</a>
						</li>
					</ul>
				</div>
			</div>
		</td>
	</tr>
{/foreach}