{extend name="admin@public/base" /}
{block name="main-content"}
	<div class="page-content">



		<!--主题-->
		<div class="page-header">
			<h1>
				您当前操作
				<small>
					<i class="ace-icon fa fa-angle-double-right"></i>
					支付配置
				</small>
			</h1>
		</div>
		<div class="row">

            <div class="tabbable">
                <ul class="nav nav-tabs" id="myTab">
                    <li class="active">
                        <a data-toggle="tab" href="#alipay">
                            支付宝收银
                        </a>
                    </li>
                    <li>
                        <a data-toggle="tab" href="#aliwappay">
                            支付宝手机
                        </a>
                    </li>
                    <li>
                        <a data-toggle="tab" href="#wxqrcode">
                            微信扫码支付
                        </a>
                    </li> 
                    <li>
                        <a data-toggle="tab" href="#wxjspi">
                            微信JSAPI支付
                        </a>
                    </li>                   
                    <li>
                        <a data-toggle="tab" href="#tenpay">
                            腾讯财富通
                        </a>
                    </li>
                    <li>
                        <a data-toggle="tab" href="#palpay">
                            Paypal支付
                        </a>
                    </li>
                    <li>
                        <a data-toggle="tab" href="#unionpay">
                            银联支付
                        </a>
                    </li>
                </ul>               
                    <fieldset>
                    <form class="form-horizontal ajaxForm2" name="paysys" method="post" action="{:url('admin/Sys/runpaysys')}">
                        <div class="tab-content">                       
                        <div id="alipay" class="tab-pane fade in active">                           
                                <div class="form-group">
                                    <label class="col-sm-3 control-label no-padding-right" for="form-field-1"> 签约账户 </label>
                                    <div class="col-sm-9">
                                        <input type="text" name="config[alipay][account]" placeholder="签约账户" value="{$payment.alipay.account}"  class="col-xs-10 col-sm-5">
                                <span class="help-inline col-xs-12 col-sm-7">
                                    <span class="middle">*xxxx@alipay.com</span>
                                </span>
                                    </div>
                                </div>
                                <div class="form-group">
                                    <label class="col-sm-3 control-label no-padding-right" for="form-field-1"> 账户名称 </label>
                                    <div class="col-sm-9">
                                        <input type="text" name="config[alipay][account_name]" placeholder="签约名称" value="{$payment.alipay.account_name}"  class="col-xs-10 col-sm-5">
                                <span class="help-inline col-xs-12 col-sm-7">
                                    <span class="middle">*</span>
                                </span>
                                    </div>
                                </div>
                                <div class="form-group">
                                    <label class="col-sm-3 control-label no-padding-right" for="form-field-1"> partner </label>
                                    <div class="col-sm-9">
                                       <input type="text" name="config[alipay][partner]" value="{$payment.alipay.partner}" placeholder="partner"  class="col-xs-10 col-sm-5">
                                    <span class="help-inline col-xs-12 col-sm-7">
                                   <span class="middle">*</span></span>
                                    </div>
                                </div>
                                <div class="form-group">
                                    <label class="col-sm-3 control-label no-padding-right" for="form-field-1"> MD5密钥 </label>
                                    <div class="col-sm-9">
                                       <input type="password" name="config[alipay][md5_key]" value="{$payment.alipay.md5_key}" placeholder="MD5密钥"  class="col-xs-10 col-sm-5">
                                    <span class="help-inline col-xs-12 col-sm-7">
                                   <span class="middle">*</span></span>
                                    </div>
                                </div>
                                <div class="form-group">
                                    <label class="col-sm-3 control-label no-padding-right" for="form-field-1"> 开发者应用私钥 </label>
                                    <div class="col-sm-9">
                                       <input type="text" name="config[alipay][rsa_private_key]" value="{$payment.alipay.rsa_private_key}" placeholder="开发者应用私钥"  class="col-xs-10 col-sm-5">
                                    <span class="help-inline col-xs-12 col-sm-7">
                                   <span class="middle">*开发者应用私钥(完整路径)</span></span>
                                    </div>
                                </div>
                                <div class="form-group">
                                    <label class="col-sm-3 control-label no-padding-right" for="form-field-1"> 支付异步通知 </label>
                                    <div class="col-sm-9">
                                       <input type="url" name="config[alipay][notify_url]" value="{$payment.alipay.notify_url}" placeholder="支付通知地址"  class="col-xs-10 col-sm-5">
                                    <span class="help-inline col-xs-12 col-sm-7">
                                   <span class="middle">*https://api.xx.com/receive_notify.html</span></span>
                                    </div>
                                </div>
                                <div class="form-group">
                                    <label class="col-sm-3 control-label no-padding-right" for="form-field-1"> 成功跳转 </label>
                                    <div class="col-sm-9">
                                       <input type="url" name="config[alipay][return_url]" value="{$payment.alipay.return_url}" placeholder="成功跳转地址"  class="col-xs-10 col-sm-5">
                                       <input type="text" hidden="" name="config[alipay][time_expire]" value="14"  class="col-xs-10 col-sm-5">
                                    <span class="help-inline col-xs-12 col-sm-7">
                                   <span class="middle">*https://api.xx.com/receive_return.html</span></span>
                                    </div>
                                </div>
                                <div class="form-group">
                                    <label class="col-sm-3 control-label no-padding-right" for="form-field-1"> 签名方式 </label>
                                    <div class="col-sm-9">
                                <select name="config[alipay][sign_type]" class="col-sm-4" required="">
                                <option value="MD5" {if condition="$payment.alipay.sign_type eq 'MD5'"}selected{/if}>MD5</option>
                                <option value="RSA" {if condition="$payment.alipay.sign_type eq 'RSA'"}selected{/if}>RSA</option>                         
                                </select>
                                    <span class="help-inline col-xs-12 col-sm-7">
                                   <span class="middle">*目前支持:RSA   MD5</span></span>
                                    </div>
                                </div>
                                
                                <div class="space-4"></div>
                                <div class="form-group">
                                    <label class="col-sm-3 control-label no-padding-right" for="form-field-1"> 是否开启： </label>
                                    <div class="col-sm-9" style="padding-top:5px;">                                                              
                                    <input name="config[alipay][display]"  {if condition="!empty($payment.alipay.display) eq 1"}checked{/if} value="1" class="ace ace-switch ace-switch-4 btn-flat col-xs-10 col-sm-5" type="checkbox" />
                                    <span class="lbl middle help-inline" >&nbsp;&nbsp;* 默认关闭</span>
                                    </div>
                                </div>
                        </div>
                        <!--支付宝配置结束-->
                        <div id="aliwappay" class="tab-pane fade">                           
                              <div class="form-group">
                                    <label class="col-sm-3 control-label no-padding-right" for="form-field-1"> 签约账户 </label>
                                    <div class="col-sm-9">
                                        <input type="text" name="config[aliwappay][account]" placeholder="签约账户" value="{$payment.aliwappay.account}"  class="col-xs-10 col-sm-5">
                                <span class="help-inline col-xs-12 col-sm-7">
                                    <span class="middle">*xxxx@aliwappay.com</span>
                                </span>
                                    </div>
                                </div>
                                <div class="form-group">
                                    <label class="col-sm-3 control-label no-padding-right" for="form-field-1"> 账户名称 </label>
                                    <div class="col-sm-9">
                                        <input type="text" name="config[aliwappay][account_name]" placeholder="签约名称" value="{$payment.aliwappay.account_name}"  class="col-xs-10 col-sm-5">
                                <span class="help-inline col-xs-12 col-sm-7">
                                    <span class="middle">*</span>
                                </span>
                                    </div>
                                </div>
                                <div class="form-group">
                                    <label class="col-sm-3 control-label no-padding-right" for="form-field-1"> partner </label>
                                    <div class="col-sm-9">
                                       <input type="text" name="config[aliwappay][partner]" value="{$payment.aliwappay.partner}" placeholder="partner"  class="col-xs-10 col-sm-5">
                                    <span class="help-inline col-xs-12 col-sm-7">
                                   <span class="middle">*</span></span>
                                    </div>
                                </div>
                                <div class="form-group">
                                    <label class="col-sm-3 control-label no-padding-right" for="form-field-1"> MD5密钥 </label>
                                    <div class="col-sm-9">
                                       <input type="password" name="config[aliwappay][md5_key]" value="{$payment.aliwappay.md5_key}" placeholder="MD5密钥"  class="col-xs-10 col-sm-5">
                                    <span class="help-inline col-xs-12 col-sm-7">
                                   <span class="middle">*</span></span>
                                    </div>
                                </div>
                                <div class="form-group">
                                    <label class="col-sm-3 control-label no-padding-right" for="form-field-1"> 开发者应用私钥 </label>
                                    <div class="col-sm-9">
                                       <input type="text" name="config[aliwappay][rsa_private_key]" value="{$payment.aliwappay.rsa_private_key}" placeholder="开发者应用私钥"  class="col-xs-10 col-sm-5">
                                    <span class="help-inline col-xs-12 col-sm-7">
                                   <span class="middle">*开发者应用私钥(完整路径)</span></span>
                                    </div>
                                </div>
                                <div class="form-group">
                                    <label class="col-sm-3 control-label no-padding-right" for="form-field-1"> 支付异步通知 </label>
                                    <div class="col-sm-9">
                                       <input type="url" name="config[aliwappay][notify_url]" value="{$payment.aliwappay.notify_url}" placeholder="支付通知地址"  class="col-xs-10 col-sm-5">
                                    <span class="help-inline col-xs-12 col-sm-7">
                                   <span class="middle">*https://api.xx.com/receive_notify.html</span></span>
                                    </div>
                                </div>
                                <div class="form-group">
                                    <label class="col-sm-3 control-label no-padding-right" for="form-field-1"> 成功跳转 </label>
                                    <div class="col-sm-9">
                                       <input type="url" name="config[aliwappay][return_url]" value="{$payment.aliwappay.return_url}" placeholder="成功跳转地址"  class="col-xs-10 col-sm-5">
                                       <input type="text" hidden="" name="config[aliwappay][time_expire]" value="14"  class="col-xs-10 col-sm-5">
                                    <span class="help-inline col-xs-12 col-sm-7">
                                   <span class="middle">*https://api.xx.com/receive_return.html</span></span>
                                    </div>
                                </div>
                                <div class="form-group">
                                    <label class="col-sm-3 control-label no-padding-right" for="form-field-1"> 签名方式 </label>
                                    <div class="col-sm-9">
                                <select name="config[aliwappay][sign_type]" class="col-sm-4" required="">
                                <option value="MD5" {if condition="$payment.aliwappay.sign_type eq 'MD5'"}selected{/if}>MD5</option>
                                <option value="RSA" {if condition="$payment.aliwappay.sign_type eq 'RSA'"}selected{/if}>RSA</option>                         
                                </select>
                                    <span class="help-inline col-xs-12 col-sm-7">
                                   <span class="middle">*目前支持:RSA   MD5</span></span>
                                    </div>
                                </div>
                                
                                <div class="space-4"></div>
                                <div class="form-group">
                                    <label class="col-sm-3 control-label no-padding-right" for="form-field-1"> 是否开启： </label>
                                    <div class="col-sm-9" style="padding-top:5px;">                                                              
                                    <input name="config[aliwappay][display]"  {if condition="!empty($payment.aliwappay.display) eq 1"}checked{/if} value="1" class="ace ace-switch ace-switch-4 btn-flat col-xs-10 col-sm-5" type="checkbox" />
                                    <span class="lbl middle help-inline" >&nbsp;&nbsp;* 默认关闭</span>
                                    </div>
                                </div>
                        </div>
                        <!--支付宝手机支付配置结束-->
                        <div id="wxqrcode" class="tab-pane fade">                           
                               <div class="form-group">
                                    <label class="col-sm-3 control-label no-padding-right" for="form-field-1"> 身份标识(appid) </label>
                                    <div class="col-sm-9">
                                        <input type="text" name="config[wxpayqrcode][app_id]" placeholder="身份标识(appid)" value="{$payment['wxpayqrcode']['app_id']}"  class="col-xs-10 col-sm-5">
                                <span class="help-inline col-xs-12 col-sm-7">
                                    <span class="middle">*</span>
                                </span>
                                    </div>
                                </div>
                                <div class="form-group">
                                    <label class="col-sm-3 control-label no-padding-right" for="form-field-1"> 身份密钥(md5_key) </label>
                                    <div class="col-sm-9">
                                       <input type="password" name="config[wxpayqrcode][md5_key]" value="{$payment['wxpayqrcode']['md5_key']}" placeholder="身份密钥(appsecret)"  class="col-xs-10 col-sm-5">
                                    <span class="help-inline col-xs-12 col-sm-7">
                                   <span class="middle" >*</span></span>
                                    </div>
                                </div>
                                <div class="form-group">
                                    <label class="col-sm-3 control-label no-padding-right" for="form-field-1"> 微信商户号(mchid) </label>
                                    <div class="col-sm-9">
                                       <input type="text" name="config[wxpayqrcode][mch_id]" value="{$payment['wxpayqrcode']['mch_id']}" placeholder="微信商户号(mchid)"  class="col-xs-10 col-sm-5">
                                    <span class="help-inline col-xs-12 col-sm-7">
                                   <span class="middle">*</span></span>
                                    </div>
                                </div>
                                <div class="space-4"></div>
                                <div class="form-group">
                                    <label class="col-sm-3 control-label no-padding-right" for="form-field-1"> 微信通知地址 </label>
                                    <div class="col-sm-9">
                                       <input type="url" name="config[wxpayqrcode][notify_url]" value="{$payment['wxpayqrcode']['notify_url']}" placeholder="微信通知地址"  class="col-xs-10 col-sm-5">
                                        <input type="text" hidden="" name="config[wxpayqrcode][time_expire]" value="14"  class="col-xs-10 col-sm-5">
                                    <span class="help-inline col-xs-12 col-sm-7">
                                   <span class="middle" >*</span></span>
                                    </div>
                                </div>
                                <div class="form-group">
                                    <label class="col-sm-3 control-label no-padding-right" for="form-field-1"> cert_path </label>
                                    <div class="col-sm-9">
                                       <input type="text" name="config[wxpayqrcode][cert_path]" value="{$payment['wxpayqrcode']['cert_path']}" placeholder="cert_path"  class="col-xs-10 col-sm-5">
                                    <span class="help-inline col-xs-12 col-sm-7">
                                   <span class="middle">*</span></span>
                                    </div>
                                </div>
                                <div class="form-group">
                                    <label class="col-sm-3 control-label no-padding-right" for="form-field-1"> key_path </label>
                                    <div class="col-sm-9">
                                       <input type="text" name="config[wxpayqrcode][key_path]" value="{$payment['wxpayqrcode']['key_path']}" placeholder="key_path"  class="col-xs-10 col-sm-5">
                                    <span class="help-inline col-xs-12 col-sm-7">
                                   <span class="middle">*</span></span>
                                    </div>
                                </div>

                                <div class="space-4"></div>
                                <div class="form-group">
                                    <label class="col-sm-3 control-label no-padding-right" for="form-field-1"> 是否开启： </label>
                                    <div class="col-sm-9" style="padding-top:5px;">                                 
                                    <input name="config[wxpayqrcode][display]"  {if condition="!empty($payment['wxpayqrcode']['display']) eq 1"}checked{/if} value="1" class="ace ace-switch ace-switch-4 btn-flat col-xs-10 col-sm-5" type="checkbox" />
                                    <span class="lbl middle help-inline" >&nbsp;&nbsp;* 默认关闭</span>
                                    </div>
                                </div>
                        </div>
                        <!--微信QRCODE支付配置结束-->
                        <div id="wxjspi" class="tab-pane fade">                           
                               <div class="form-group">
                                    <label class="col-sm-3 control-label no-padding-right" for="form-field-1"> 身份标识(appid) </label>
                                    <div class="col-sm-9">
                                        <input type="text" name="config[wxpaypub][app_id]" placeholder="身份标识(appid)" value="{$payment['wxpaypub']['app_id']}"  class="col-xs-10 col-sm-5">
                                <span class="help-inline col-xs-12 col-sm-7">
                                    <span class="middle">*</span>
                                </span>
                                    </div>
                                </div>
                                <div class="form-group">
                                    <label class="col-sm-3 control-label no-padding-right" for="form-field-1"> 身份密钥(md5_key) </label>
                                    <div class="col-sm-9">
                                       <input type="password" name="config[wxpaypub][md5_key]" value="{$payment['wxpaypub']['md5_key']}" placeholder="身份密钥(appsecret)"  class="col-xs-10 col-sm-5">
                                    <span class="help-inline col-xs-12 col-sm-7">
                                   <span class="middle" >*</span></span>
                                    </div>
                                </div>
                                <div class="form-group">
                                    <label class="col-sm-3 control-label no-padding-right" for="form-field-1"> 微信商户号(mchid) </label>
                                    <div class="col-sm-9">
                                       <input type="text" name="config[wxpaypub][mch_id]" value="{$payment['wxpaypub']['mch_id']}" placeholder="微信商户号(mchid)"  class="col-xs-10 col-sm-5">
                                    <span class="help-inline col-xs-12 col-sm-7">
                                   <span class="middle">*</span></span>
                                    </div>
                                </div>
                                <div class="space-4"></div>
                                <div class="form-group">
                                    <label class="col-sm-3 control-label no-padding-right" for="form-field-1"> 微信通知地址 </label>
                                    <div class="col-sm-9">
                                       <input type="url" name="config[wxpaypub][notify_url]" value="{$payment['wxpaypub']['notify_url']}" placeholder="微信通知地址"  class="col-xs-10 col-sm-5">
                                        <input type="text" hidden="" name="config[wxqrcode][time_expire]" value="14"  class="col-xs-10 col-sm-5">
                                    <span class="help-inline col-xs-12 col-sm-7">
                                   <span class="middle" >*</span></span>
                                    </div>
                                </div>
                                <div class="form-group">
                                    <label class="col-sm-3 control-label no-padding-right" for="form-field-1"> cert_path </label>
                                    <div class="col-sm-9">
                                       <input type="text" name="config[wxpaypub][cert_path]" value="{$payment['wxpaypub']['cert_path']}" placeholder="cert_path"  class="col-xs-10 col-sm-5">
                                    <span class="help-inline col-xs-12 col-sm-7">
                                   <span class="middle">*</span></span>
                                    </div>
                                </div>
                                <div class="form-group">
                                    <label class="col-sm-3 control-label no-padding-right" for="form-field-1"> key_path </label>
                                    <div class="col-sm-9">
                                       <input type="text" name="config[wxpaypub][key_path]" value="{$payment['wxpaypub']['key_path']}" placeholder="key_path"  class="col-xs-10 col-sm-5">
                                    <span class="help-inline col-xs-12 col-sm-7">
                                   <span class="middle">*</span></span>
                                    </div>
                                </div>

                                <div class="space-4"></div>
                                <div class="form-group">
                                    <label class="col-sm-3 control-label no-padding-right" for="form-field-1"> 是否开启： </label>
                                    <div class="col-sm-9" style="padding-top:5px;">                                 
                                    <input name="config[wxpaypub][display]"  {if condition="!empty($payment['wxpaypub']['display']) eq 1"}checked{/if} value="1" class="ace ace-switch ace-switch-4 btn-flat col-xs-10 col-sm-5" type="checkbox" />
                                    <span class="lbl middle help-inline" >&nbsp;&nbsp;* 默认关闭</span>
                                    </div>
                                </div>
                        </div>
                        <!--微信JSAPI支付配置结束-->
                        
                        <div id="tenpay" class="tab-pane fade">                                                  
                                <div class="form-group">
                                    <label class="col-sm-3 control-label no-padding-right" for="form-field-1"> 签约密钥 </label>
                                    <div class="col-sm-9">
                                       <input type="password" name="config[tenpay][key]" value="{$payment['tenpay']['key']}" placeholder="签约密钥"  class="col-xs-10 col-sm-5">
                                    <span class="help-inline col-xs-12 col-sm-7">
                                   <span class="middle" >*</span></span>
                                    </div>
                                </div>
                                <div class="form-group">
                                    <label class="col-sm-3 control-label no-padding-right" for="form-field-1"> partner </label>
                                    <div class="col-sm-9">
                                       <input type="text" name="config[tenpay][partner]" value="{$payment['tenpay']['partner']}" placeholder="partner"  class="col-xs-10 col-sm-5">
                                    <span class="help-inline col-xs-12 col-sm-7">
                                   <span class="middle" >*</span></span>
                                    </div>
                                </div>
                                <div class="space-4"></div>
                                <div class="form-group">
                                    <label class="col-sm-3 control-label no-padding-right" for="form-field-1"> 是否开启： </label>
                                    <div class="col-sm-9" style="padding-top:5px;">
                                    <input name="config[tenpay][display]"  {if condition="!empty($payment['tenpay']['display']) eq 1"}checked{/if} value="1" class="ace ace-switch ace-switch-4 btn-flat col-xs-10 col-sm-5" type="checkbox" />
                                    <span class="lbl middle help-inline" >&nbsp;&nbsp;* 默认关闭</span>
                                    </div>
                                </div>
                        </div>
                        <!--财富通配置结束-->
                        <div id="unionpay" class="tab-pane fade">                                                  
                                <div class="form-group">
                                    <label class="col-sm-3 control-label no-padding-right" for="form-field-1"> 签约密钥 </label>
                                    <div class="col-sm-9">
                                       <input type="password" name="config[unionpay][key]" value="{$payment['unionpay']['key']}" placeholder="签约密钥"  class="col-xs-10 col-sm-5">
                                    <span class="help-inline col-xs-12 col-sm-7">
                                   <span class="middle" >*</span></span>
                                    </div>
                                </div>
                                <div class="form-group">
                                    <label class="col-sm-3 control-label no-padding-right" for="form-field-1"> partner </label>
                                    <div class="col-sm-9">
                                       <input type="text" name="config[unionpay][partner]" value="{$payment['unionpay']['partner']}" placeholder="partner"  class="col-xs-10 col-sm-5">
                                    <span class="help-inline col-xs-12 col-sm-7">
                                   <span class="middle" >*</span></span>
                                    </div>
                                </div>
                                <div class="space-4"></div>
                                <div class="form-group">
                                    <label class="col-sm-3 control-label no-padding-right" for="form-field-1"> 是否开启： </label>
                                    <div class="col-sm-9" style="padding-top:5px;">                                    
                                    <input name="config[unionpay][display]"  {if condition="!empty($payment['unionpay']['display']) eq 1"}checked{/if} value="1" class="ace ace-switch ace-switch-4 btn-flat col-xs-10 col-sm-5" type="checkbox" />
                                    <span class="lbl middle help-inline" >&nbsp;&nbsp;* 默认关闭</span>
                                    </div>
                                </div>
                        </div>
                        <!--财富通配置结束-->
                        <div id="palpay" class="tab-pane fade">                           
                                <div class="form-group">
                                    <label class="col-sm-3 control-label no-padding-right" for="form-field-1"> 签约账户 </label>
                                    <div class="col-sm-9">
                                        <input type="text" name="config[palpay][business]" placeholder="签约账户" id="site_host" value="{$payment['palpay']['business']}"  class="col-xs-10 col-sm-5" >
                                <span class="help-inline col-xs-12 col-sm-7">
                                    <span class="middle" id="restwo">* Paypal business为email收款账户 </span>
                                </span>
                                    </div>
                                </div>
                                <div class="space-4"></div>
                                <div class="form-group">
                                    <label class="col-sm-3 control-label no-padding-right" for="form-field-1"> 是否开启： </label>
                                    <div class="col-sm-9" style="padding-top:5px;">                                   
                                    <input name="config[palpay][display]" id="payment_open" {if condition="!empty($payment['palpay']['display']) eq 1"}checked{/if} value="1" class="ace ace-switch ace-switch-4 btn-flat col-xs-10 col-sm-5" type="checkbox" />  
                                    <span class="lbl middle help-inline" >&nbsp;&nbsp;* 默认关闭</span>
                                    </div>
                                </div>
                        </div>
                        <!--Paypal配置结束-->

                            <div class="clearfix form-actions">
                            <div class="col-sm-offset-3 col-sm-9">
                            <input type="hidden" name="name" value="payment"></input>
                                <button class="btn btn-info" type="submit"><i class="ace-icon fa fa-check bigger-110"></i>保存</button>
                                &nbsp; &nbsp; &nbsp;
                                <button class="btn" type="reset"><i class="ace-icon fa fa-undo bigger-110"></i>重置</button>
                            </div>
                            </div>
                            
                        </div>
                        </form>    
                        <div class="space-4"></div>            
                            
                        </div>
                      
                  
            </div>
             </fieldset>
        </div>


	</div><!-- /.page-content -->
{/block}
