{extend name="admin@public/base" /}
{block name="main-content"}
	<div class="page-content">



		<!--主题-->
		<div class="page-header">
			<h1>
				您当前操作
				<small>
					<i class="ace-icon fa fa-angle-double-right"></i>
					七牛云存储设置
				</small>
			</h1>
		</div>
		<div class="row">
			<div class="col-xs-12">
				<form class="form-horizontal ajaxForm" name="sys" method="post" action="{:url('admin/Sys/runstorage')}">
					<div class="form-group">
						<label class="col-sm-3 control-label no-padding-right" for="form-field-1"> 是否开启云存储： </label>
						<div class="col-sm-9" style="padding-top:5px;">
							<input name="storage_open" id="storage_open" {if condition="!empty($storage['storage_open'])"}checked{/if}  value="1" class="ace ace-switch ace-switch-4 btn-flat" type="checkbox" />
							<span class="lbl"></span>
						</div>
					</div>
					<div class="space-4"></div>

					<div class="form-group">
						<label class="col-sm-3 control-label no-padding-right" for="form-field-1"> 	AccessKey： </label>
						<div class="col-sm-9">
							<input type="text" name="accesskey" id="accesskey" value="{$storage.accesskey}"  class="col-xs-10 col-sm-7" required/>
											<span class="help-inline col-xs-12 col-sm-5">
												<span class="middle" id="restwo"></span>
											</span>
						</div>
					</div>
					<div class="space-4"></div>
					
					<div class="form-group">
						<label class="col-sm-3 control-label no-padding-right" for="form-field-1"> 	SecretKey： </label>
						<div class="col-sm-9">
							<input type="password" name="secretkey" id="secretkey" value="{$storage.secretkey}"  class="col-xs-10 col-sm-7" required/>
											<span class="help-inline col-xs-12 col-sm-5">
												<span class="middle" id="restwo"></span>
											</span>
						</div>
					</div>
					<div class="space-4"></div>
					
					<div class="form-group">
						<label class="col-sm-3 control-label no-padding-right" for="form-field-1"> 	存储空间(bucket)： </label>
						<div class="col-sm-9">
							<input type="text" name="bucket" id="bucket" value="{$storage.bucket}"  class="col-xs-10 col-sm-7" required/>
											<span class="help-inline col-xs-12 col-sm-5">
												<span class="middle" id="restwo"></span>
											</span>
						</div>
					</div>
					<div class="space-4"></div>
					
					<div class="form-group">
						<label class="col-sm-3 control-label no-padding-right" for="form-field-1"> 	访问域名(domain)： </label>
						<div class="col-sm-9">
							<input type="url" name="domain" id="domain" value="{$storage.domain}"  class="col-xs-10 col-sm-7" required/>
											<span class="help-inline col-xs-12 col-sm-5">
												<span class="middle" id="restwo">必须以"/"结尾</span>
											</span>
						</div>
					</div>
					<div class="space-4"></div>

					<div class="clearfix form-actions">
						<div class="col-sm-offset-3 col-sm-9">
							<button class="btn btn-info" type="submit">
								<i class="ace-icon fa fa-check bigger-110"></i>
								保存
							</button>

							&nbsp; &nbsp; &nbsp;
							<button class="btn" type="reset">
								<i class="ace-icon fa fa-undo bigger-110"></i>
								重置
							</button>
						</div>
					</div>
				</form>
			</div>
		</div>
	</div>
{/block}