<!DOCTYPE html>
<!--[if IE 8]>			<html class="ie ie8"> <![endif]-->
<!--[if IE 9]>			<html class="ie ie9"> <![endif]-->
<!--[if gt IE 9]><!-->	<html> <!--<![endif]-->
<head>
	<meta charset="utf-8">
	<title>{$site_name} </title>
	<meta name="keywords" content="{$menu.menu_seo_key|default=$site_seo_keywords}" />
	<meta name="description" content="{$menu.menu_seo_des|default=$site_seo_description}">
	{include file="public:head" /}
</head>
<body class="body-white">
<div class="wrap">
	{include file="public:nav" /}
	<div id="main-cmf">
		<div class="breadcrumb-wrapper">
			<div class="container">
				<div class="row">
					<div class="col-lg-6 col-md-6 col-xs-12 col-sm-6">
						<h2 class="title">个人中心</h2>
					</div>
					<div class="col-lg-6 col-md-6 col-xs-12 col-sm-6">
						<div class="breadcrumbs pull-right">
							<ul>
								<li>当前位置:</li>
								<li><a href="__ROOT__/">首页</a></li>
								<li><a href="{:url('home/Center/index')}">个人中心</a></li>
								<li>修改密码</li>
							</ul>
						</div>
					</div>
				</div>
			</div>
		</div>
		<div class="content">
			<div class="container">
				<div class="row">
					<div class="col-lg-3 col-md-3 col-sm-3 col-xs-12">
						{include file="public:usernav"/}
					</div>
					<div class="col-lg-9 col-md-9 col-sm-9 col-xs-12">
						<div id="center-content" style="padding:20px">
							<div class="row">
								<form class="form-light form-horizontal ajax-form" id="runchangepwd" action="{:url('home/Center/runchangepwd')}" method="post">
									<div class="form-group">
										<label class="col-lg-3 col-md-3 col-sm-3 col-xs-2 control-label">原始密码</label>
										<div class="col-lg-5 col-md-5 col-sm-7 col-xs-9">
											<input type="password" class="form-control" id="input-old_password" placeholder="原始密码" name="old_password">
										</div>
									</div>
									<div class="form-group">
										<label class="col-lg-3 col-md-3 col-sm-3 col-xs-2 control-label">新密码</label>
										<div class="col-lg-5 col-md-5 col-sm-7 col-xs-9">
											<input type="password" class="form-control" id="input-password" placeholder="新密码" name="password">
										</div>
									</div>
									<div class="form-group">
										<label class="col-lg-3 col-md-3 col-sm-3 col-xs-2 control-label">重复密码</label>
										<div class="col-lg-5 col-md-5 col-sm-7 col-xs-9">
											<input type="password" class="form-control" id="input-repassword" placeholder="重复密码" name="repassword">
										</div>
									</div>
									<div class="form-group">
										<label class="col-lg-3 col-md-3 col-sm-3 col-xs-2 control-label"></label>
										<div class="col-lg-5 col-md-5 col-sm-7 col-xs-9">
											<button type="submit" class="btn btn-primary">保存</button>
										</div>
									</div>
								</form>
							</div>
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>
	{include file="public:footer"/}
</div>
{include file="public:scripts"/}
</body>
</html>