{foreach name="reply_list" item="v"}
	<tr>
		<td class="hidden-xs" align="center">
			<label class="pos-rel">
				<input name='we_reply_id[]' id="navid" class="ace"  type='checkbox' value='{$v.we_reply_id}'>
				<span class="lbl"></span>
			</label>
		</td>
		<td>{$v.we_reply_id}</td>
		<td>{$v.we_reply_key}</td>
		<td>{$v.we_reply_type}</td>
		{switch name="v['we_reply_type']" }
			{case value="news"}
				<td>{$v.we_replynews|subtext=40}
					<span class="action-buttons">
						<a href="#" class="green bigger-140 show-details-btn" title="查看详细">
							<i class="ace-icon fa fa-angle-double-down"></i>
							<span class="sr-only">Details</span>
						</a>
					</span>
				</td>
			{/case}
			{case value="image"}
				<td>{$v.we_replyimage_mediaid}</td>
			{/case}
			{case value="voice"}
				<td>{$v.we_replyvoice_mediaid}</td>
			{/case}
			{default /}
				<td>{$v.we_replytext_content}</td>
		{/switch}	
		<td class="hidden-sm hidden-xs">{$v.we_reply_addtime|date='Y-m-d H:i:s',###}</td>
		<td>
			{if condition="$v['we_reply_open'] eq 1"}
				<a class="red open-btn" href="{:url('wechat/We/reply_state')}" data-id="{$v.we_reply_id}" title="已开启">
					<div><button class="btn btn-minier btn-yellow">开启</button></div>
				</a>
				{else/}
				<a class="red open-btn" href="{:url('wechat/We/reply_state')}" data-id="{$v.we_reply_id}" title="已禁用">
					<div><button class="btn btn-minier btn-danger">禁用</button></div>
				</a>
			{/if}
		</td>
		<td>
			<div class="hidden-sm hidden-xs action-buttons">
				<a class="green replyedit-btn" href="{:url('wechat/We/reply_edit')}" data-id="{$v.we_reply_id}" data-toggle="tooltip" title="修改">
					<i class="ace-icon fa fa-pencil bigger-130"></i>																</a>
				<a class="red confirm-rst-url-btn" href="{:url('wechat/We/reply_del',array('we_reply_id'=>$v['we_reply_id']))}" data-info="您确定要删除吗？" data-toggle="tooltip" title="删除">
					<i class="ace-icon fa fa-trash-o bigger-130"></i>																</a>
			</div>
			<div class="hidden-md hidden-lg">
				<div class="inline position-relative">
					<button class="btn btn-minier btn-primary dropdown-toggle" data-toggle="dropdown" data-position="auto">
						<i class="ace-icon fa fa-cog icon-only bigger-110"></i>
					</button>
					<ul class="dropdown-menu dropdown-only-icon dropdown-yellow dropdown-menu-right dropdown-caret dropdown-close">
						<li>
							<a href="{:url('wechat/We/reply_edit')}" data-id="{$v.we_reply_id}" class="tooltip-success replyedit-btn" data-rel="tooltip" title="修改" data-original-title="修改">
										<span class="green">
											<i class="ace-icon fa fa-pencil bigger-120"></i>
										</span>
							</a>
						</li>

						<li>
							<a href="{:url('wechat/We/reply_del',array('we_reply_id'=>$v['we_reply_id']))}"  data-info="您确定要删除吗？" class="tooltip-error confirm-rst-url-btn" data-rel="tooltip" title="删除" data-original-title="删除">
										<span class="red">
											<i class="ace-icon fa fa-trash-o bigger-120"></i>
										</span>
							</a>
						</li>
					</ul>
				</div>
			</div>
		</td>
	</tr>
	{if condition="$v['we_reply_type'] eq 'news'"}
	<tr class="detail-row">
		<td colspan="10">
			<div class="row">
				<label class="form-label col-xs-1 text-right">回复内容：</label>
				<div class="formControls col-xs-11">
					<textarea  name="" readonly="readonly" cols="" rows="8" class="col-xs-12"   id="form-field-9"  maxlength="">{$v.we_replynews|json_decode=true|var_export}</textarea>
				</div>
			</div>
		</td>
	</tr>
	{/if}
{/foreach}
<tr>
	<td align="left"><button id="btnsubmit" class="btn btn-white btn-yellow btn-sm">删</button> </td>
	<td colspan="8" align="right">{$page}</td>
</tr>
